.title {
  margin-top: 7%;
  display: flex;
  justify-content: center;
}

.icon-text {
  text-align: left;
  font: normal normal medium 14px/17px Roboto;
  letter-spacing: 0px;
  color: #1d1d1d;
  opacity: 1;
}

.edit-footer {
  display: flex;
  margin-top: 2%;
  margin-bottom: 12%;
  justify-content: center;
}

.edit-voltar {
  margin-left: 16%;
}

.edit-salvar {
  margin-left: 5%;
}
